.advanteges {
  height: 1330px;
  width: 100%;
  padding: 80px 0 80px 0;
  display: flex;

  h3 {
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 50px;
  }
}

.advanteges__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.advanteges__item {
  display: flex;
  height: 355px;
  width: 570px;
  position: relative;

  img {
    position: relative;
  }

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    color: #fff;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.439);
    // opacity: 0.439;
    width: 100%;
    height: 157px;
  }
}